{% extends 'base.html' %}

{% block content %}{% load static %}
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="about_box">
                        <div class="titlepage">
                            <h2>Design and Development</h2>
                        </div>
                        <p style="text-align: justify">
                            We bring together the best of creativity and technical expertise to deliver exceptional
                            construction projects. Our skilled professionals combine innovative design concepts with
                            meticulous planning and execution to bring our client's visions to life. Focusing on
                            functionality, aesthetics, and sustainability, we strive to create spaces that meet our
                            clients' needs and exceed their expectations. From initial concept development to detailed
                            design and construction documentation, we ensure that every aspect of the project is
                            carefully considered and executed with precision. With our expertise in design and
                            development, we are committed to delivering outstanding results that transform spaces and
                            leave a lasting impact.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about_img">
                        <figure>
                            <img src="{% static 'images/services/1.jpg' %}" alt="Design & Development">
                        </figure>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="about_img">
                        <figure>
                            <img src="{% static 'images/services/2.png' %}" alt="Planning & Scheduling">
                        </figure>
                    </div>
                </div>
                <hr>
                <div class="col-md-8">
                    <div class="about_box pl-4">
                        <div class="titlepage">
                            <h2>Planning and Scheduling</h2>
                        </div>
                        <p style="text-align: justify">
                            At NASHTA CONSTRUCTION, we prioritize efficient planning, resource allocation, and risk
                            mitigation. With our commitment to excellence in project management, we deliver successful
                            construction projects that meet and exceed client expectations.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <div class="about_box">
                        <div class="titlepage">
                            <h2>Cost Estimation</h2>
                        </div>
                        <p style="text-align: justify">
                            At NASHTA CONSTRUCTION, our cost estimation services provide accurate and reliable
                            assessments of project expenses, helping you plan and budget effectively for successful
                            completion of your projects
                        </p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="about_img">
                        <figure>
                            <img src="{% static 'images/services/3.png' %}" alt="Cost Estimation">
                        </figure>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 d-flex align-items-center">
                    <div class="about_img" style="display: flex; justify-content: center;">
                        <figure>
                            <img src="{% static 'images/services/4.png' %}" alt="Construction Management"/>
                        </figure>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="about_box">
                        <div class="titlepage">
                            <h2>Construction Management</h2>
                        </div>
                        <p style="text-align: justify">
                            At NASHTA CONSTRUCTION, we adhere to the PMBOK (Project Management Body of Knowledge)
                            standards to effectively manage the workflow of our projects. Our team of professional
                            construction managers ensures that every project is executed seamlessly from start to
                            finish. By following industry best practices and leveraging our expertise in project
                            management, we prioritize efficient planning, resource allocation, and risk mitigation. With
                            our commitment to excellence in project management, we deliver successful construction
                            projects that meet and exceed client expectations.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <div class="about_box">
                        <div class="titlepage">
                            <h2>General Contracting Service in Bay Area</h2>
                        </div>
                        <p style="text-align: justify">
                            Our <strong>general contracting services in the Bay Area</strong> offer comprehensive
                            project management and coordination, ensuring seamless execution from start to finish. With
                            our expertise and attention to detail, we oversee all aspects of construction, from
                            procurement to scheduling and quality control. Trust us to handle the complexities of your
                            project, delivering exceptional results on time and within budget.
                        </p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="about_img">
                        <figure>
                            <img src="{% static 'images/services/5.png' %}" alt="Cost Estimation">
                        </figure>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 d-flex align-items-center">
                    <div class="about_img" style="display: flex; justify-content: center;">
                        <figure>
                            <img src="{% static 'images/services/6.png' %}" alt="Construction Management"/>
                        </figure>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="about_box">
                        <div class="titlepage">
                            <h2>Remodeling and Renovation</h2>
                        </div>
                        <p style="text-align: justify">
                            Our renovation and remodeling services breathe new life into your spaces. Whether it's a
                            residential or commercial project, our skilled team transforms outdated areas into modern,
                            functional, and aesthetically pleasing environments. From concept to completion, we handle
                            every aspect, including design, construction, and finishing touches. Trust us to revitalize
                            your space and create a fresh, inspiring atmosphere that exceeds your expectations
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}